<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.data1.UserMapper">

    <select id="maxId" resultType="Integer">
        select MAX(id) from t_user
    </select>

</mapper>